/* .home {
  grid-template-columns: 70px 15% 70% 1fr;
  grid-template-rows: 5% 90% 5%;
  height: 100vh;
  width: 100vw;
  background-color: #36393f;
}

.chat {
  grid-column: 3/ 4;
  grid-row: 2/ 3;
}

.chatInput {
  grid-column: 3/4;
  grid-row: 3/4;
}

.nav {
  grid-column: 1/2;
  grid-row: 1/4;
}

.sidebarServer {
  grid-column: 2/3;
  grid-row: 2/4;
}

.sidebar__top {
  grid-column: 2/3;
  grid-row: 1/2;
}

.headerChat {
  grid-column: 3/4;
  grid-row: 1/2;
}

.sidebarUsers {
  grid-column: 4/5;
  grid-row: 2/4;
}

.footer {
  grid-column: 2/3;
  grid-row: 3/4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  grid-template-rows: 75px 1fr;
}

.home .headerChat {
  grid-row: 1;
  grid-column: 1/3;
}

.home .sidebarUsers {
  grid-column: 3/4;
  grid-row: 2;
}

.home .sidebarServer {
  grid-column: 1;
  grid-row: 1;
}
.home .chat {
  grid-column: 2/3;
  grid-row: 2/3;
}
