.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  grid-template-rows: 75px 1fr;
  background-color: #1e1f22;
}

.home .headerChat {
  grid-row: 1;
  grid-column: 2/4;
  padding: 10px;
}

.home .sidebarUsers {
  grid-column: 3;
  grid-row: 2;
  background-color: #1e1f22;
  padding-left: 10px;
  color: white;
  font-size: 20px;
}

.home .sidebarServer {
  grid-column: 1;
  grid-row: 1;
}
.home .chat {
  grid-column: 2/3;
  grid-row: 2/4;
}
