.messages {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  gap: 8px;
  padding: 16px;
  background-color: #36393f;
  color: #dcddde;
}

.messages div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.messages p:first-child {
  margin-top: 0;
}

.chat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 75px;
  overflow-y: scroll;
}

.chat-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.chat-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.chat-messages > div:last-child {
  margin-bottom: 0;
}

/* .chat-form {
  display: flex;
  align-items: flex-end;
  background-color: #36393f;
} */
.chat #style-2 {
  grid-row: 1;
  grid-column: 1/3;
}
.chat-input {
  padding: 10px;
  font-size: 16px;
  /* border: 1px solid #00000063; */
  border-radius: 10px;
  outline: none;
  background-color: #383a40;
  grid-row: 2;
  /* -webkit-box-shadow: 0px 0px 7px 0.5px rgba(13, 13, 13, 0.41);
  box-shadow: 0px 0px 7px 0.5px rgba(13, 13, 13, 0.41); */
  color: white;
}

.chat-input:focus {
  border: 1px solid #00000063;
  -webkit-box-shadow: 0px 0px 7px 0.5px rgba(13, 13, 13, 0.41);
  box-shadow: 0px 0px 7px 0.5px rgba(13, 13, 13, 0.41);
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#style-2::-webkit-scrollbar {
  width: 12px;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00000063;
  height: 50px;
}
.message-username img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.message-username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.messsageBody {
  border-bottom: 1px solid #1e1f22;
}
