.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #232428;
  height: 45px;
}

.footerIcons {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 5px;
  width: 26%;
}

.nameStatusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  position: relative;
}

.avatarContainer img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.onlineStatus {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 70%;
}
