.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
  position: relative;
}
.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
  height: 32px;
}
.sidebar__channels {
  flex: 1;
}
.sidebar__addChannel {
  cursor: pointer;
}
.sidebar__addChannel:hover {
  color: white;
}
.sidebar__channelsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
}
.sidebar__header {
  display: flex;
  align-items: center;
}

.serverMenu {
  position: relative;
  width: 100px;
  z-index: 5;
}

.serverMenu__content {
  position: absolute;
  width: 150px;
  color: white;
  text-align: center;
  background-color: #1d1d1f;
  padding: 10px;
  border-radius: 15px;
  --animate-duration: 0.35s;
}

ul {
  list-style-type: none;
}

ul li {
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.3rem;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 20px;

  margin: 0;
}
